---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | A.N.I.MA.L" description="About A.N.I.MA.L">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Us"
				tagline="AI and ML for a Just and Humane World"
			>
			</Hero>
				<img
					width="1553"
					height="873"
					src="/SUAnimal/assets/Logo/logo-2.png"
				/>
			

			<section>
				<h2 class="section-title">Meetings</h2>
				<div class="content meetings">
					<div class="meeting">
						<p>
							<b>Drop-In Meetings Every Wednesday</b><br>
							<b>Time:</b> 4:00 PM <br>
							<b>Location:</b> Bannan 629
						</p>
					</div>
			
					<div class="meeting">
						<p>
							<b>Monthly Meetings</b><br>
							<b>Time:</b> 4:00 PM <br>
							<b>Location:</b> Bannan 629
						</p>
					</div>
				</div>
				<h2 class="section-title">What is an A.N.I.MA.L</h2>
				<div class="content">
					<p>
					<!--
						Greetings from A.n.I.Ma.L club! We're an enthusiastic bunch from Seattle University with 
						a thirst for knowledge about AI and ML technologies. But it's not just about algorithms 
						and codes; it's about ensuring these powerful tools are used for the greater good. Understanding the 
						sheer potential and the ethical considerations of AI is a massive responsibility, and we're up for the challenge. 
						We invite everyone - whether you're a student, faculty, or someone from the broader Seattle community, to join our endeavor.
					-->
					Hello, and welcome to the A.n.I.Ma.L club! We are a group of students at Seattle University who are
interested in learning, building, and exploring more ethical AI systems. We are focused on modern
machine learning (ML) technologies, which are based on the idea that a computer can learn to do a task
itself if it has enough examples.
We recognize that this collection of technologies comes with responsibility, and can perpetrate
injustices if used improperly. Therefore, all club leaders and members will be expected to place an active
focus on working towards a just and humane world through their work.
Whether you are a student, faculty member, or broader community member, we would like to welcome
you to our community. Below you will find more information about who we are, and how to get
involved with our club.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">A Warm Welcome to Our Community Members</h2>
				<div class="content">
					<!--
					<p>Being nestled in the heart of Seattle University, we are inherently connected to the broader Seattle community. 
						Diversity is our strength, and we believe in harnessing AI's potential to serve our community better. 
						Our vision transcends academic learnings - we aim to build trustworthy relationships, make a real difference, 
						and offer hands-on learning experiences. We value collaborations and are always open to community-driven projects and ideas.
					</p>-->
					<p>
						A.n.I.Ma.L recognizes that it is located in the heart of Seattle University and the broader Seattle
community. Our members come from a diverse set of backgrounds and interests. We recognize that
positive benefits can be realized when AI technology is combined with everyday needs. Our club
therefore strives to connect our member’s understanding of AI technology to our broader community.
To us, these connections build relationships of trust, give back to the communities that support
A.n.I.Ma.L, and provide learning opportunities for our students. This is why A.n.I.Ma.L will always
welcome projects, ideas, and consultations with local community members. While some endeavors may
be beyond our resources or capabilities, we encourage you to reach out to us. We will try our best to
meet your needs.


					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Club Goals</h2>



				<div class="content">
					<!--<p><b>Informed Decision Making:</b> Equip the Seattle University community with knowledge to navigate the AI world confidently. We want to debunk myths, highlight the current limitations, and expose biases in AI and ML technologies.</p>-->
					<li>
						Empowering members of the broader Seattle University community to understand and make more informed decisions about their interactions with artificial intelligence (AI) and the underlying machine learning (ML) technology
					</li>

					<li>Dispelling common misconceptions surrounding artificial intelligence (Al) technology by demonstrating modern limitations and biases present in the underlying machine learning (ML) technology.</li>
				
					<li>Fostering an active community of Seattle University students and faculty engaged in projects and research involving artificial intelligence (AI) and machine learning (ML).</li>

					<li>Supporting interested students in remaining up to date with current research in the fields of artificial intelligence (Al) and machine learning (ML).</li>

					<li>Encouraging students and faculty to develop machine learning (ML) skills and experience through competitions, hackathons, and projects.</li>

					<li>Connecting interested students and faculty with the needs of the local community for projects and solutions involving machine learning (ML) and artificial intelligence (Al).</li>

					<li>Developing machine learning (ML) leaders with experience thinking about, discussing, and implementing more ethical approaches to artificial intelligence (AI) and machine learning (ML).</li>


				</div>
				<!--
				<div class="content">
					<li></li>
					<!--<p><b>Community Engagement:</b> Our club isn't just about individual growth; it's about fostering a thriving community of students and faculty who share a common passion for AI and ML. Through research, hackathons, and other engagements, we aim to keep our members at the forefront of AI advancements.</p>-->
				</div>
				<div class="content">
					<p><b>Ethical AI Leadership:</b> It's one thing to develop AI solutions and entirely another to do it responsibly. We prioritize molding our members into leaders who not only excel in ML but also advocate for and implement ethical AI practices.</p>
				</div>
				-->
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.meetings {
    display: flex;
    gap: 2rem; 
	}	

	.meeting {
		flex: 1;
	}

	img {
		transform: scale(1.23);
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--blue-0);
		opacity: 0.77;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
