---
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | A.N.I.MA.L" description="About A.N.I.MA.L">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Us"
				tagline="Building AI for the Better Good."
			>
			</Hero>
				<img
					width="1553"
					height="873"
					src="/SUAnimal/assets/Logo/logo-2.png"
				/>
			

			<section>
				<h2 class="section-title">Meetings</h2>
				<div class="content meetings">
					<div class="meeting">
						<p>
							<b>Drop-In Meetings Every Wednesday</b><br>
							<b>Time:</b> 4:00 PM <br>
							<b>Location:</b> Bannan 629
						</p>
					</div>
			
					<div class="meeting">
						<p>
							<b>Monthly Meetings</b><br>
							<b>Time:</b> 4:00 PM <br>
							<b>Location:</b> Bannan 629
						</p>
					</div>
					<div class="buttons">
						<a href="/SUAnimal/constitution">
							<button class = "const-button">Constitution</button>
						</a>
					</div>
				</div>
				<h2 class="section-title">What is an A.N.I.MA.L</h2>
				<div class="content">
					<p>
						Greetings from A.n.I.Ma.L club! We're an enthusiastic bunch from Seattle University with 
						a thirst for knowledge about AI and ML technologies. But it's not just about algorithms 
						and codes; it's about ensuring these powerful tools are used for the greater good. Understanding the 
						sheer potential and the ethical considerations of AI is a massive responsibility, and we're up for the challenge. 
						We invite everyone - whether you're a student, faculty, or someone from the broader Seattle community, to join our endeavor.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">A Warm Welcome to Our Community Members</h2>
				<div class="content">
					<p>Being nestled in the heart of Seattle University, we are inherently connected to the broader Seattle community. 
						Diversity is our strength, and we believe in harnessing AI's potential to serve our community better. 
						Our vision transcends academic learnings - we aim to build trustworthy relationships, make a real difference, 
						and offer hands-on learning experiences. We value collaborations and are always open to community-driven projects and ideas.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Club Goals</h2>
				<div class="content">
					<p><b>Informed Decision Making:</b> Equip the Seattle University community with knowledge to navigate the AI world confidently. We want to debunk myths, highlight the current limitations, and expose biases in AI and ML technologies.</p>
				</div>
				<div class="content">
					<p><b>Community Engagement:</b> Our club isn't just about individual growth; it's about fostering a thriving community of students and faculty who share a common passion for AI and ML. Through research, hackathons, and other engagements, we aim to keep our members at the forefront of AI advancements.</p>
				</div>
				<div class="content">
					<p><b>Ethical AI Leadership:</b> It's one thing to develop AI solutions and entirely another to do it responsibly. We prioritize molding our members into leaders who not only excel in ML but also advocate for and implement ethical AI practices.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.meetings {
    display: flex;
    gap: 2rem; 
	}	

	.meeting {
		flex: 1;
	}

	img {
		transform: scale(1.23);
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}


	.const-button {
		background: var(--gradient-accent-orange);;
		opacity: 0.77;
		color: #ffffff; /* White text color */
		padding: 20px 32px; /* Padding for the button */
		border-radius: 12.84px; /* Rounded corners */
		border: none; /* Removes the default border */
		cursor: pointer; /* Hand cursor on hover to indicate it's clickable */
		font-size: 20px; /* Text size */
		font-weight: 500;
		transition: background-color 0.3s ease; /* Smooth transition for background color change on hover */
	}
	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--blue-0);
		opacity: 0.77;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
