---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Constiution | A.N.I.MA.L" description="Constiution A.N.I.MA.L">
    <div class="title-container">
        <h1>Constitution</h1>
    </div>
    <div class="PDF">
        <iframe src="https://github.com/SpamMusubi153/SUAnimal/blob/main/Constitution/Latest-Constitution.pdf" width="80%" height="700px"></iframe>
    </div> 

</BaseLayout>

<style>
    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:50px;
    }

    .title-container h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .PDF {
        display: flex;
        justify-content: center;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .PDF iframe {
        border: none;
    }

</style>


