---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--orange-0)" size="2.5rem" />
		<h2>Development</h2>
		<p>We believe in iterative learning and growth. By constantly improving and expanding our horizons, we're setting new benchmarks in AI development.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--orange-0)" size="2.5rem"/>
		<h2>Club Achievements</h2>
		<p>Our club's milestones are not just awards; they're testaments to dedication, innovation, and collaboration in AI's realm.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--orange-0)" size="2.5rem"  />
		<h2>Goals</h2>
		<p>Beyond just algorithms, we understand the essence of strategic AI implementation. Decisions today shape the innovations of tomorrow.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
