---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--orange-0)" size="2.5rem" />
		<h2>Fostering Community</h2>
		<p>between Seattle University students and faculty engaged in projects and research involving artificial intelligence (AI) and machine learning (ML).</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--orange-0)" size="2.5rem"/>
		<h2>Empowering Members</h2>
		<p>to understand and make more informed decisions about their interactions with artificial intelligence (AI) and the underlying machine learning (ML) technology.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--orange-0)" size="2.5rem"  />
		<h2>Developiong ML Leaders</h2>
		<p>steeped in the Jesuit tradition with experience thinking about, discussing, and implementing more ethical approaches to artificial intelligence (AI) and machine learning (ML).
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
